header{     height: 65px;
    background-color: #fff;
    position: absolute;
    z-index: 51;
    width: 100%;}

.header-logo{
	position:absolute;
	padding:10px 0px;
	text-align:center;
	width: 100%;
    margin: 0 auto;

}


.menu-link{
	
  margin: 3px 0px 0px 22px;
  display: inline-block;
  position: absolute;
  z-index:55;
  cursor:pointer;
}

.menu-wrapper{
  width:  100%;
  height: 100%;
  background-color:#14151b;
  display: none;
  position: fixed;
  top:50px;
  z-index: 50;
}
.nav-wrapper{
    display: table;
    width: 100%;
    position: relative;
    height:100%;
    //background-image: url(back.jpg);
    //background-position: center;
    //background-size: cover;

    text-align: center;
  }
  

.logo-pristinit{
	
	background-image: url(assets/images/pristinit.png);
    margin: 0 auto;
    height: 198px;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-top: 80px;
}
  .follow, .nav_menu, .start_project{
    display: table-cell;
    width: 33%;
    position: relative;
    vertical-align: middle;
  }
  .follow p {
      font-size: 15pt;
     font-family: 'Roboto', sans-serif;
      color:#d4d4d7;
  }
.nav_menu ul {
    font-size: 30pt;
    line-height: 60px;
    font-family: 'Roboto', sans-serif;
	font-weight:700;
	padding:0px;
	
}

.nav_menu li {
      display: block;
      
}

.nav_menu ul li span a {
    text-decoration: none;
    color: #d4d4d7;
    display: inline-block;
	text-align:center;

}
.nav_menu ul li span a:hover {
    color: #0760fe;
	transition: color .3s ease;
}

.nav_menu ul li span {
  position: relative;
  display: inline-block;
  cursor: pointer;
   text-align:center;
   padding:0 20px;
}


.nav_menu ul li span:before {
     position:absolute;
	 content:"";
	 display:block;
	 height:7px;
	 width:0;top:50%;
	 transform:translate3d(-1%,0,0) scaleX(1);
	 background:#FFF;
	 opacity: 1;
	 margin-left:-20px;	
	 transform-origin:right center;
}



.nav_menu ul li span:hover:before {
  background: #FFF;
  width: 100%;
  animation: strike .5s ease-in-out forwards;
}

@keyframes strike{
  0%     { transform-origin:  0% 50%;transform:scaleX(0); }
  50%    { transform-origin:  0% 50%;transform:scaleX(1);  }
  50.01% { transform-origin:100% 50%;transform:scaleX(1);  }
  100%   { transform-origin:100% 50%;transform:scaleX(0);  }
}



.start_project{
	font-size: 25pt;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform : uppercase;	
	color:#d4d4d7;
	text-decoration:none;
	background-image: url('assets/images/start.png');
	background-repeat: no-repeat;
	background-position-x: center;
    background-position-y: center;
    padding-top: 22px;

}
.start_project strong{
	display:block;
}


/* =======================social=============== */



/*=========================
  Icons
 ================= */

/* footer social icons */
/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0px 0px;
}


/* footer social icons */


.social-network a.icoFacebook:hover i { color: #3B5998;}
.social-network a.icoTwitter:hover i { color: #08a0e9;}
.social-network a.icoLinkedin:hover i { color: #0077B5;}
.social-network a.icoInstagram:hover i { 
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
 }
.social-network a.icoBehance:hover i { color: #005cff;}





 
	
a.socialIcon:hover, .socialHoverClass {
	
	color:#d4d4d7;
}

.social-circle li a {
  display: inline-block;
position: relative;
margin: 0 auto 0 auto;
text-align: center;
width: 50px;
height: 50px;
font-size: 25px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}


.social-circle i {
	color: #d4d4d7;

}


.txt {     
	font-family: 'Roboto', sans-serif;
    font-size: 14pt;
	color: #fff;
    display: block;
    top: 23px;
    position: absolute;
    margin: 0 0 0 45px;

	}