

.home {
    height: 100%;
    padding: 65px 50px 65px 50px;
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.work-wrapper {
    position: absolute;
    top: 65px;
    left: 50px;
    right: 50px;
    bottom: 65px;
    overflow: hidden;
    z-index: 5;
}

.fullscreen-wrapper {
    position: absolute;
    top: 65px;
    left: 50px;
    z-index: 0;
    display: inline-block;
    overflow: hidden;
}

.fullscreen-image {
    opacity: 0;
    z-index: 1;
    
}

.work-cell {
    display: inline-block;
    float: left;
    opacity: 1;
}

.work-cell-link {
}

.work-col-separator {
    width: 10px;
    background : white;
    z-index: 8;
    float: left;
    display: inline-block;
}

.work-row-separator {
    background : white;
    z-index: 8;
    height: 10px;
    display: inline-block;
    float: left;
    background : white;
}

.work-cell-image-wrapper {
    position: relative;
    top: 0%;
    left: 0%;
    background-size: cover;
    background-position: center;
    opacity: 1;
}

.work-cell-title-wrapper {
    position: relative;
    top: 35%;
    left: 0%;
    vertical-align: middle;
    width: 100%;    
    z-index: 10;
    height: 0%;
}

.work-cell-title {
    text-align: center;
    font-size: 27px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    letter-spacing: 3px;
    margin: 0%;
    padding: 0%;
}

.work-cell-tag-line {
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-family: 'Paprika', cursive;
	margin: 0%;
    padding: 0%;
}
