::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

div{
  box-sizing:border-box;
}


.horizontal-scroll-wrapper{
  position:relative;
  display:block;
  width:700px;
  height: 100%;
  max-height:1900px;
  margin:0;
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-700px);
  transform-origin:right top;
}

.horizontal-scroll-wrapper > div{
  display:block;
  padding:5px;
  transform:rotate(90deg);
  transition: all 0.5s;
}


.horizontal-scroll-wrapper > div img{
	width:700px;
	transition: all 0.5s;
}

.horizontal-scroll-wrapper > div h1{
	transition-delay: 0.10s;
	transition: all 0.7s;
	color: #000;
	text-align:right;
}

.squares{
  padding:60px 0 0 0;
}

.squares > div{
      width: 700px;
    height: 400px;
    margin: 400px 0% 0% 0%;
}
.last{
	margin-bottom:500px !important;
}


