<div class="section-wrapper">
<section class="section">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="title in text-uppercase">The secret <span class="clr-about">ingredient</span></h1>
        <p class="line-height-40">Do you know why everyone talks about passion? <br>
          <br>
          It’s because passion allows you to work constantly. <br>
          When you do something you love, and others find it useful, you grow. It’s passion, together with purpose, that <br>
          allows you to write several lines of code more than the rest. To polish your design <br>
          in the middle of the night. To look for alternative ideas when <br>
          it seems impossible to find them. <br>
          <br>
          What we do at In’saneLab is not a job. It’s the job.</p>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			  <li data-target="#myCarousel" data-slide-to="1"></li>
			  <li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			  <div class="item active">
				<img src="assets/images/1_devicelab.jpg" width="1200px" alt="Los Angeles" style="width:100%;">
			  </div>

			  <div class="item">
				<img src="assets/images/1_devicelab.jpg" width="1200px" alt="Chicago" style="width:100%;">
			  </div>

			  <div class="item">
				<img src="assets/images/1_devicelab.jpg" width="1200px" alt="New york" style="width:100%;">
			  </div>
			</div>

			<!-- Left and right controls -->
			<a data-slide="prev" href="#myCarousel" class="left carousel-control"></a> 
		  <a data-slide="next" href="#myCarousel" class="right carousel-control"></a>
		  
			
		</div>
	</div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row margin-bottom-80">
          <div class="col-lg-4 col-sm-4 col-md-4">
            <h3 class="iconin-title title-normal">What we do</h3>
            <p>Our skills are specific and fine-tuned. We
              are specialists, not generalists. We build
              identities and experiences to elevate and
              empower organizations.</p>
          </div>
          <div class="col-lg-8 col-sm-8 col-md-8">
            <div class="padding-left-95">
              <div class="small-text">HELPING OUR PARTNERS MOVE FORWARD THROUGH</div>
              <div class="text-paprika">Discovery & Strategy, Branding, Interface Design, <br>
                Communications, Creative Production, and <br>
                Development Solutions</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-md-6"> <img class="img-responsive" src="assets/images/about.png" alt="About us"> </div>
          <div class="col-lg-6 col-sm-6 col-md-6">
            <div class="padding-left-95 margin-top-50">
              <h3 class="iconin-title title-normal">Why we do it</h3>
              <p>We believe in the power of design. We thrive on <br>
                building relationships and helping good people and <br>
                organizations succeed through a collaborative process.</p>
              <ul class="list-unstyled margin-top-25 linkset">
                <li><a href="" title="Our Services">Our Services</a></li>
                <li><a href="" title="Contact Us">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3 class="iconin-title title-normal">Our standards</h3>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <ul class="list-unstyled standard-link">
              <li>Make it Better</li>
              <li>Keep it Real </li>
              <li>People Over Profits </li>
              <li>Keep it Simple </li>
              <li>Never Stop Learning</li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <ul class="list-unstyled standard-link">
              <li>Quality Over Quantity</li>
              <li>Work to Live </li>
              <li>Ask More Questions </li>
              <li>Craft Isn't Enough </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="our-standards padding-left-95"> "Our core standards <br>
          serve as the foundation <br>
          of behaviors that drive <br>
          us."</div>
      </div>
    </div>
  </div>
</section>
<section class="section margin-bottom-60">
  <div class="container testimonial">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="iconin-title title-normal"><span class="clr-about">Testimonials </span> What they say about us</h1>
        <p class="line-height-40">It’s one thing to start a relationship, another to maintain it properly. <br>
          We
          always go the extra mile. It’s not just about ticking checkboxes.<br>
        </p>
        <div class="saperate-line"></div>
      </div>
    </div>
    <div class="row margin-top-25">
      <div class="col-md-12">
        <div class="carousel slide" data-ride="carousel" id="quote-carousel"> 
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner text-center"> 
            <!-- Quote 1 -->
            <div class="item active">
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <p>An extensive knowledge, a wide range of skills, <br>
                    and the right attitude towards the customer. <br>
                    The characteristic features of people from In'saneLab.</p>
                  <div class="t-name margin-top-25">Robian Devid</div>
                  <small>Co Founder of Pristinit</small> </div>
              </div>
            </div>
            <!-- Quote 2 -->
            <div class="item">
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <p>An extensive knowledge, a wide range of skills, <br>
                    and the right attitude towards the customer. <br>
                    The characteristic features of people from In'saneLab.</p>
                  <div class="t-name margin-top-25">Robian Devid</div>
                  <small>Co Founder of Pristinit</small> </div>
              </div>
            </div>
            <!-- Quote 3 -->
            <div class="item">
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <p>An extensive knowledge, a wide range of skills, <br>
                    and the right attitude towards the customer. <br>
                    The characteristic features of people from In'saneLab.</p>
                  <div class="t-name margin-top-25">Robian Devid</div>
                  <small>Co Founder of Pristinit</small> </div>
              </div>
            </div>
          </div>
          <!-- Carousel Buttons Next/Prev --> 
          <a data-slide="prev" href="#quote-carousel" class="left carousel-control">
          </a> 
		  <a data-slide="next" href="#quote-carousel" class="right carousel-control">
          </a> </div>
      </div>
    </div>
  </div>
</section>
<section class="section margin-bottom-60">
	<div class="container testimonial">
		<div class="row text-center">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<figure class="cd-image-container">
				<img src="assets/images/img-original.jpg" alt="Original Image">
				<div class="cd-image-label" data-type="original">
					<h5 class="id-h2">Oliver</h5>
					<div class="id-team-compare_label">3/4 stack Web Developer</div>
					<p class="id-text">Having been a front-end developer for over 8 years, Oliver has the knowledge and experience to back his decisions and to build quality, user focused, cross-platform web applications. Ever the perfectionist, Oliver likes to make sure that envelopes are pushed and boundaries are stretched whatever the project.</p>
				</div>

				<div class="cd-resize-img"> <!-- the resizable image on top -->
				<img src="assets/images/img-modified.jpg" alt="Modified Image">
				<div class="cd-image-label" data-type="modified">Modified<h5 class="id-h2">Oliver</h5>
					<div class="id-team-compare_label">3/4 stack Web Developer</div>
					<p class="id-text">Having been a front-end developer for over 8 years, Oliver has the knowledge and experience to back his decisions and to build quality, user focused, cross-platform web applications. Ever the perfectionist, Oliver likes to make sure that envelopes are pushed and boundaries are stretched whatever the project.</p>
				</div>
				</div>

				<span class="cd-handle"></span>
				</figure> <!-- cd-image-container -->
			</div>
		</div>
	</div>
</section>
<section class="section bg-color-dark">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="iconin-title title-normal clr-fff">Social profiles</h3>
            <p class="clr-fff">It’s not about us. Sure, we post company updates from time to time, but most <br>
              of all we strive to be useful to you. By connecting with us you’ll be opening <br>
              yourself to hand-picked feeds containing some of the most important and <br>
              engaging content available.</p>
            <ul class="list-inline social-large-link">
              <li><a href="" title="Facebook"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a></li>
              <li><a href="" title="Twitter"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>
              <li><a href="" title="Linkedin"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a></li>
              <li><a href="" title="Instagram"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></li>
              <li><a href="" title="Behance"><i class="fa fa-behance fa-3x" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<app-footer></app-footer>