<div class="section-wrapper-subscriber">
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <div class="thumb-img"><img src="assets/images/blog-thumb.JPG" alt="Blog"></div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2">
              <h3 class="blog-inner-title">How do you make a site SEO 
                friendly?</h3>
              <div class="date author"> <img class="author-img" src="assets/images/author.png" alt="Author">Admin  01 &nbsp;&nbsp; september 2017 &nbsp;&nbsp;<span>No Comment</span></div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 padding-0">
            <ul class="list-unstyled blog-share">
              <li><a href="" title="Share">Share</a></li>
              <li><a href="" title="Share"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
              <li><a href="" title="Share"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> </a></li>
            </ul>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10">
            <p>Google’s search algorithm is more complex than ever, and it’s constantly
              changing to reflect what users care about. For example, did they get the
              information they were after? Did they stay long or bounce away? Did they
              share your link on social media? Did they find your site easy-to-use? <br>
              <br>
              While meta descriptions, H1 tags, image attributes, etc. do have an impact,
              your rankings are largely influenced by the value your users get from visiting
              your site. So, as you can imagine, it takes time to organically move up in 
              those search results. When clients ask us what we do to make a site SEO
              friendly, the answer is usually more involved than what they had in mind. </p>
            <br>
            <h3 class="in-title">Technical SEO</h3>
            <p>We provide on-page technical SEO within the website’s setup and structure. 
              For example:</p>
            <div class="paddind-left-30">
              <p><strong>Site speed enhancements</strong><br>
                Page speed is not only a user experience factor, but a search ranking
                factor too. Every site we create gets a fundamental ‘speed treatment’ — 
                efficient code, cached data, compressed files, optimised images,
                appropriate server configs, and more — to ensure optimal loading and
                rendering times, and reducing the ‘time to first byte’. <br>
                <br>
                <strong>Friendly URLs</strong> <br>
                As in, /about-us/ instead of /index.php?id=4. Even including branded 
                words and special terminology, we still aim to keep page URLs meaningfulfor users and as simple as possible for search engines to interpret. <br>
                <br>
                <strong>301 redirects</strong> <br>
                “301 redirects” tell search engine site crawlers where to find your pages
                in their new locations (following a redesign or restructure), so your site won’t 
                get penalised due to your old links no longer pointing to valid content. <br>
                <br>
                <strong>XML sitemaps</strong> <br>
                Think of sitemaps as a cheat sheet for search engines. When a site 
                crawler hits the sitemap, it has access to the entire structure of a website, 
                ensuring every page of your site gets indexed (except for any pages you 
                explicitly say you don’t want crawled). <br>
                <br>
                We’re also mindful of the SEO value of semantic markup, robots.txt, HTTP 
                protocols, metadata, responsive design and accessibility. Following best 
                practice techniques when building a site means search engines can access
                content and meta-information as efficiently as possible.<br>
                <br>
                Like this post? Keep up with us on Twitter and Instagram.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- What we learn section -->
<section class="section padding-bottom-0">
  <div class="container-fluid">
    <div class="row blog margin-top-50">
      <div class="col-lg-4 col-md-4 col-sm-4 border padding-tb-60 line-trb">
        <div class="first article">
          <div class="blog-img"><img class="img-responsive" src="assets/images/blog-thumb.jpg" alt="Blog" /></div>
          <h3 class="blog-title">Are popups still a good idea?</h3>
          <div class="date">01 september 2017 <span>Admin</span></div>
          <p class="blog-desc">Go on. Ask any internet user how they feel about popups. You
            may learn some new swear words. And yet, when the business
            case for UX is stronger than ever, many brands still default to
            popups...</p>
          <a class="read-more" title="Read More" href="#">read More</a> </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 border padding-tb-60 line-tb">
        <div class="second article">
          <div class="blog-img"><img class="img-responsive" src="assets/images/blog-thumb.jpg" alt="Blog" /></div>
          <h3 class="blog-title">Are popups still a good idea?</h3>
          <div class="date">01 september 2017 <span>Admin</span></div>
          <p class="blog-desc">Go on. Ask any internet user how they feel about popups. You
            may learn some new swear words. And yet, when the business
            case for UX is stronger than ever, many brands still default to
            popups...</p>
          <a class="read-more" title="Read More" href="#">read More</a> </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 border padding-tb-60 line-tlb">
        <div class="third article">
          <div class="blog-img"><img class="img-responsive" src="assets/images/blog-thumb.jpg" alt="Blog" /></div>
          <h3 class="blog-title">Are popups still a good idea?</h3>
          <div class="date">01 september 2017 <span>Admin</span></div>
          <p class="blog-desc">Go on. Ask any internet user how they feel about popups. You
            may learn some new swear words. And yet, when the business
            case for UX is stronger than ever, many brands still default to
            popups...</p>
          <a class="read-more" title="Read More" href="#">read More</a> </div>
      </div>
    </div>
  </div>
</section>
</div>
<app-footer-subscriber></app-footer-subscriber>

