<div class="section-wrapper-subscriber">
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <div class="thumb-img"><img src="assets/images/blog-thumb.JPG" alt="Blog"></div>
      </div>
      
        <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 margin-bottom-60">
          <h3 class="blog-inner-title">How do you make a site SEO 
                friendly?</h3>
              <div class="date author"> <img class="author-img" src="assets/images/author.png" alt="Author">Admin  01 &nbsp;&nbsp; september 2017 &nbsp;&nbsp;<span>No Comment</span></div>
              
            <p>Google’s search algorithm is more complex than ever, and it’s constantly
              changing to reflect what users care about. For example, did they get the
              information they were after? Did they stay long or bounce away? Did they
              share your link on social media? Did they find your site easy-to-use? <br>
              <br>
              While meta descriptions, H1 tags, image attributes, etc. do have an impact,
              your rankings are largely influenced by the value your users get from visiting
              your site. So, as you can imagine, it takes time to organically move up in 
              those search results. When clients ask us what we do to make a site SEO
              friendly, the answer is usually more involved than what they had in mind. </p>
          
        </div>
        
         <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <div class="thumb-img"><img src="assets/images/blog-thumb.JPG" alt="Blog"></div>
      </div>
      
        <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 margin-bottom-60">
        <h3 class="blog-inner-title">How do you make a site SEO 
                friendly?</h3>
              <div class="date author"> <img class="author-img" src="assets/images/author.png" alt="Author">Admin  01 &nbsp;&nbsp; september 2017 &nbsp;&nbsp;<span>No Comment</span></div>
              
            <p>Google’s search algorithm is more complex than ever, and it’s constantly
              changing to reflect what users care about. For example, did they get the
              information they were after? Did they stay long or bounce away? Did they
              share your link on social media? Did they find your site easy-to-use? <br>
              <br>
              While meta descriptions, H1 tags, image attributes, etc. do have an impact,
              your rankings are largely influenced by the value your users get from visiting
              your site. So, as you can imagine, it takes time to organically move up in 
              those search results. When clients ask us what we do to make a site SEO
              friendly, the answer is usually more involved than what they had in mind. </p>
          
            
            
          
        </div>
        
      </div>
    </div>
  
</section>

<!-- What we learn section -->
<section class="section padding-bottom-0">
  <div class="container-fluid">
    <div class="row blog margin-top-50">
      <div class="col-lg-4 col-md-4 col-sm-4 border padding-tb-60 line-trb">
        <div class="first article">
          <div class="blog-img"><img class="img-responsive" src="assets/images/blog-thumb.jpg" alt="Blog" /></div>
          <h3 class="blog-title">Are popups still a good idea?</h3>
          <div class="date">01 september 2017 <span>Admin</span></div>
          <p class="blog-desc">Go on. Ask any internet user how they feel about popups. You
            may learn some new swear words. And yet, when the business
            case for UX is stronger than ever, many brands still default to
            popups...</p>
          <a class="read-more" title="Read More" href="#">read More</a> </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 border padding-tb-60 line-tb">
        <div class="second article">
          <div class="blog-img"><img class="img-responsive" src="assets/images/blog-thumb.jpg" alt="Blog" /></div>
          <h3 class="blog-title">Are popups still a good idea?</h3>
          <div class="date">01 september 2017 <span>Admin</span></div>
          <p class="blog-desc">Go on. Ask any internet user how they feel about popups. You
            may learn some new swear words. And yet, when the business
            case for UX is stronger than ever, many brands still default to
            popups...</p>
          <a class="read-more" title="Read More" href="#">read More</a> </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 border padding-tb-60 line-tlb">
        <div class="third article">
          <div class="blog-img"><img class="img-responsive" src="assets/images/blog-thumb.jpg" alt="Blog" /></div>
          <h3 class="blog-title">Are popups still a good idea?</h3>
          <div class="date">01 september 2017 <span>Admin</span></div>
          <p class="blog-desc">Go on. Ask any internet user how they feel about popups. You
            may learn some new swear words. And yet, when the business
            case for UX is stronger than ever, many brands still default to
            popups...</p>
          <a class="read-more" title="Read More" href="#">read More</a> </div>
      </div>
    </div>
  </div>
</section>
</div>
<app-footer-subscriber></app-footer-subscriber>

