<div class="section-wrapper">
<section class="section bg-career">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" id="functionBasedElasticity">
        <h1 class="title career el">We love to hire your 
			<span class="bolder one">Awesomeness</span>
			<span class="bolder two">Honesty</span>
			<span class="bolder three">Courage</span>
			<span class="bolder four">Creativity</span>
			<span class="bolder five">Thruthfulness</span>
			<span class="bolder six">Fairness</span>
			<span class="bolder seven">Reflaction</span>
		</h1>
        <div class="drop-line el">Drop as a line</div>
        <div class="c-email el"><a href="mailto:" title="Email">hiring@pristinit.com</a></div>
        <p class="italic-in el">And since you’re awesome, we’ll put you first. We always put our team first. Whether <br>
          you’re just starting in the business, or already have 20+ years of experience, <br>
          we’re certain that you’ll find an offer suitable to your needs.</p>
        <a href="" class="btn btn-default custom-btn el">Apply for an opening</a> </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container-fluid">
    <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <h3 class="iconin-title title-normal">Work Culture & Benefit</h3>
          <p>Our skills are specific and fine-tuned. We <br>
            are specialists, not generalists. We build <br>
            identities and experiences to elevate and <br>
            empower organizations.</p>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="padding-left-95">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 margin-bottom-60">
                <h3 class="our-title">Lorem ipsum</h3>
                <p>We believe in the power of design. <br>
                  We thrive on building relationships <br>
                  and helping good people. </p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 margin-bottom-60">
                <h3 class="our-title">Lorem ipsum</h3>
                <p>We believe in the power of design. <br>
                  We thrive on building relationships <br>
                  and helping good people. </p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 margin-bottom-60">
                <h3 class="our-title">Lorem ipsum</h3>
                <p>We believe in the power of design. <br>
                  We thrive on building relationships <br>
                  and helping good people. </p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 margin-bottom-60">
                <h3 class="our-title">Lorem ipsum</h3>
                <p>We believe in the power of design. <br>
                  We thrive on building relationships <br>
                  and helping good people. </p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 margin-bottom-60">
                <h3 class="our-title">Lorem ipsum</h3>
                <p>We believe in the power of design. <br>
                  We thrive on building relationships <br>
                  and helping good people. </p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 margin-bottom-60">
                <h3 class="our-title">Lorem ipsum</h3>
                <p>We believe in the power of design. <br>
                  We thrive on building relationships <br>
                  and helping good people. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 col-sm-12 margin-bottom-60">
        <h1 class="title-medium text-uppercase margin-bottom-30">Current openings</h1>
        <p>Our skills are specific and fine-tuned. We are specialists, not generalists. We build identities and experiences to elevate and <br>
          empower organizations.Our skills are specific and fine-tuned. We are specialists, not generalists. We build identities and <br>
          experiences to elevate and empower organizations.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> Wordpress Engineer </h4>
              <p class="intro">The profile demands passion for WordPress development and community spirit.<br>
                This is an exciting opportunity for WordPress enthusiasts who believe that code is poetry.</p>
              <div class="righter">
                <div class="push-up"><a class="accordion-toggle text-normalize" data-toggle="collapse" data-parent="#accordion" href="#panel1"><img class="plus-ico" src="assets/images/plus.png" alt="Plus"></a></div>
              </div>
            </div>
            <div id="panel1" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="stg">YOU’LL GET:</div>
                <p>contract of employment, commission contract or B2B agreement, <br>
                  MacBook Pro with an external monitor; <br>
                  2000 PLN a year for the courses and workshops of your choosing, <br>
                  private health care, <br>
                  MultiSport benefits, <br>
                  challenging projects, enough time to create a great design, and lots of opportunities, <br>
                  freedom and responsibility, <br>
                  an office in the heart of Krakow, <br>
                  you can start working anytime between 8 AM and 10 AM, <br>
                  one day per week, you can work remotely, <br>
                  paid leave – and it doesn’t matter what kind of contract you’ll sign, we want you to rest, <br>
                  lots of team building activities, dinners, lunches, <br>
                  free snacks and fruits at the office, great coffee included.</p>
                <br>
                <div class="stg">WE’LL NEED FROM YOU:</div>
                <p>have a knowhow on UX/UI, web usability, <br>
                  worked with REST API, WP-API before, <br>
                  used WooCommerce, <br>
                  know some optimization techniques, <br>
                  helped us with SSH, logs, and .htaccess. <br>
                  If you want to work remotely, we may agree to that – but only in a few <br>
                  selected cases. Our main aim is for you to join the office. We seriously <br>
                  can’t eat all the food by ourselves. <br>
                  <br>
                  <a href="" class="btn btn-default custom-btn">Apply for this job</a> </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> Wordpress Engineer </h4>
              <p class="intro">The profile demands passion for WordPress development and community spirit.<br>
                This is an exciting opportunity for WordPress enthusiasts who believe that code is poetry.</p>
              <div class="righter">
                <div class="push-up">
					<a class="accordion-toggle text-normalize" data-toggle="collapse" data-parent="#accordion" href="#panel2"><img class="plus-ico" src="assets/images/plus.png" alt="Plus"></a></div>
				</div>
				</div>
            <div id="panel2" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="stg">YOU’LL GET:</div>
                <p>contract of employment, commission contract or B2B agreement, <br>
                  MacBook Pro with an external monitor; <br>
                  2000 PLN a year for the courses and workshops of your choosing, <br>
                  private health care, <br>
                  MultiSport benefits, <br>
                  challenging projects, enough time to create a great design, and lots of opportunities, <br>
                  freedom and responsibility, <br>
                  an office in the heart of Krakow, <br>
                  you can start working anytime between 8 AM and 10 AM, <br>
                  one day per week, you can work remotely, <br>
                  paid leave – and it doesn’t matter what kind of contract you’ll sign, we want you to rest, <br>
                  lots of team building activities, dinners, lunches, <br>
                  free snacks and fruits at the office, great coffee included.</p>
                <br>
                <div class="stg">WE’LL NEED FROM YOU:</div>
                <p>have a knowhow on UX/UI, web usability, <br>
                  worked with REST API, WP-API before, <br>
                  used WooCommerce, <br>
                  know some optimization techniques, <br>
                  helped us with SSH, logs, and .htaccess. <br>
                  If you want to work remotely, we may agree to that – but only in a few <br>
                  selected cases. Our main aim is for you to join the office. We seriously <br>
                  can’t eat all the food by ourselves. <br>
                  <br>
                  <a href="" class="btn btn-default custom-btn">Apply for this job</a> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<app-footer><app-footer>