<div class="section-wrapper-subscriber">
<section class="section">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="contact-title margin-bottom-50">Let's make something great together.</h1>
        <div class="margin-bottom-50"><a href="" class="btn btn-default custom-btn">Start a Project</a></div>
        <p class="phone"><a href="call:" title="Email">027 99967190</a></p>
        <p class="email"><a href="mailto:info@pristinit.com" title="Email">info@pristinit.com</a></p>
        <p class="address">C - 1006, Titanium City Center, Near Sachin Tower, Anandnagar Road, Prahalad Nagar,<br> 
Satellite, Ahmedabad, Gujarat 380015</p>
        
      </div>
    </div>
  </div>
</section>
</div>
<app-footer-subscriber></app-footer-subscriber>