<!-- Footer section -->
<footer  class="{{FooterColor}}" >
  <div class="container-fluid" >
    <div class="row">
      <div class="footer">
        <div class="col-lg-10 col-md-10 col-sm-10  col-lg-offset-1 d-table margin-both-center">
          <div class="block-center">
            <div class="f-normal-text">so what's next?</div>
            <div class="f-large-text">Don't be shy! <span class="changer-word">Say hi!</span> </div>
            <div class="copy-right">
              <div class="col-lg-6 col-md-6 col-sm-6 padding-left-0">
                <p>&copy; 2017 Pristinit Solutions. Ahmedabad, Gujrat (India)</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <ul class="list-inline footer-link">
                  <li><a href="#" target="_blank" title="Facebook">Facebook</a></li>
                  <li><a href="#" target="_blank" title="Facebook">Facebook</a></li>
                  <li><a href="#" target="_blank" title="Facebook">Facebook</a></li>
                  <li><a href="#" target="_blank" title="Facebook">Facebook</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>