<footer  class="subscriber {{FooterColor}}" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 d-table">
        <div class="block-center height-380">
          <div class="custom-margin">
            <div class="form-news">
              <form class="" method="">
                <label class="lable">Let's plugged in</label>
                <input type="text" name="email" class="form-control" value="" placeholder="Your email, Our newsletter">
              </form>
            </div>
            <div class="copy-right">
              <div class="col-lg-6 col-md-6 col-sm-6 padding-left-0">
                <p>&copy; 2017 Pristinit Solutions. Ahmedabad, Gujrat (India)</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <ul class="list-inline footer-link">
                  <li><a href="#" target="_blank" title="Facebook">Facebook</a></li>
                  <li><a href="#" target="_blank" title="Facebook">Facebook</a></li>
                  <li><a href="#" target="_blank" title="Facebook">Facebook</a></li>
                  <li><a href="#" target="_blank" title="Facebook">Facebook</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>