<header>

	<div (click)="displayMenu($event);" class="menu-link">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="114px" height="60px" viewBox="0 0 114 60" enable-background="new 0 0 114 60" xml:space="preserve">
			<g>
				<g class="line">
					<line class="line1" fill="none" stroke="#000000" stroke-miterlimit="10" x1="30.707" y1="23.996" x2="44.707" y2="23.996"/>
					<line class="line2" fill="none" stroke="#000000" stroke-miterlimit="10" x1="30.707" y1="30" x2="44.707" y2="30"/>
					<line class="line3" fill="none" stroke="#000000" stroke-miterlimit="10" x1="30.707" y1="36.004" x2="44.707" y2="36.004"/>
				</g>
				<text class="menu_txt" transform="matrix(1 0 0 1 54.29 36)" font-family="'Roboto'" fill="#000" font-size="14pt" >Menu</text>
				 
			</g>
		</svg>
		<div class="textHolder">
			<div class="txt">
			Close
			</div>
			</div>
    </div>
	<div class="header-logo">
		<img class="logo" width="136" src="../assets/images/logo.jpg">
	</div>
	
	<div class="menu-wrapper">
	<div class="nav-wrapper">
	<div class="follow">
	  <p>GET CONNECTED</p>
	  <ul class="social-network social-circle">
				<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
				<li><a href="#" class="icoBehance" title="Behance"><i class="fa fa-behance"></i></a></li>
						
	  </ul>
	</div>
	<nav class="nav_menu">
	<div class="logo-pristinit">
	</div>
	  <ul>
		<li class="" ><span>
		  <a (click)="changepage($event);" [routerLink]="['/']" >Home</a></span>
		</li>
		<li class="" ><span>
		  <a (click)="changepage($event);" [routerLink]="['/about-us']" >About us</a></span>
		</li>
		<li class=""><span>
		  <a (click)="changepage($event);" [routerLink]="['/work']">Work</a></span>
		</li>
		<li class="" ><span>
		  <a (click)="changepage($event);" [routerLink]="['/services']" >Services</a></span>
		</li>
		<li class="" ><span>
		  <a (click)="changepage($event);" [routerLink]="['/career']" >Career</a></span>
		</li>
		<li class="" ><span>
		  <a (click)="changepage($event);" [routerLink]="['/blog']" >Blog</a></span>
		</li>
		<li class="" ><span>
		  <a (click)="changepage($event);" [routerLink]="['/contact-us']" >Contact us</a></span>
		</li>
	  </ul>
	</nav>
	<a class="start_project" (click)="changepage($event);" [routerLink]="['/start-project']">
	  Start a <strong>new project</strong> with us
	</a>


	</div>
	</div>	
  </header>
