<!-- our work highlight section -->
<div class="section-wrapper">
<section class="section">
  <div class="container-fluid">
    <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="margin-top-130">
            <h1 class="title text-uppercase">
              <div class="color-violet">we provide</div>
              web, mobile & branding <br>
              solutions </h1>
            <p class="medium-text">Lorem Ipsum is simply dummy text of the printing and typesetting<br>
              industry. Lorem Ipsum has been the industry's standard dummy <br>
              text ever since the 1500s</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="work-image center margin-top-90"> <img class="img-responsive" src="assets/images/working.jpg" alt="Work"> </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- What we do section -->
<section class="section">
  <div class="container-fluid">
    <div class="colored">
      <div class="counter">
        <div class="inner-num">01</div>
      </div>
      <div class="row margin-bottom-80">
        <div class="col-lg-10 col-md-10 col-sm-10 margin-both-center">
          <h1 class="title">What we <br>
            can do for <br>
            you.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10  margin-both-center">
          <div class="row margin-bottom-80">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="iconin"><img  class="img-responsive" src="assets/images/brand.gif" alt="Branding"></div>
              <h3 class="iconin-title">Branding</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
                Lorem Ipsum has been the industry's standard dummy text ever since  the <br>
                1500s  Lorem Ipsum has been the industry's standard dummy text ever since <br>
                the  1500s <br>
                Lorem Ipsum has been the industry's standard dummy text ever since <br>
                the 1500s</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="iconin"><img  class="img-responsive" src="assets/images/web.gif" alt="Web development"></div>
              <h3 class="iconin-title">Web development</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
                Lorem Ipsum has been the industry's standard dummy text ever since  the <br>
                1500s  Lorem Ipsum has been the industry's standard dummy text ever since <br>
                the  1500s <br>
                Lorem Ipsum has been the industry's standard dummy text ever since <br>
                the 1500s</p>
            </div>
          </div>
          <div class="row margin-bottom-80">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="iconin"><img  class="img-responsive" src="assets/images/mobile.gif" alt="Mobile"></div>
              <h3 class="iconin-title">Mobile</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
                Lorem Ipsum has been the industry's standard dummy text ever since  the <br>
                1500s  Lorem Ipsum has been the industry's standard dummy text ever since <br>
                the  1500s <br>
                Lorem Ipsum has been the industry's standard dummy text ever since <br>
                the 1500s</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="iconin"><img  class="img-responsive" src="assets/images/promotional.gif" alt="Promotional"></div>
              <h3 class="iconin-title">Promotional</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
                Lorem Ipsum has been the industry's standard dummy text ever since  the <br>
                1500s  Lorem Ipsum has been the industry's standard dummy text ever since <br>
                the  1500s <br>
                Lorem Ipsum has been the industry's standard dummy text ever since <br>
                the 1500s</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- How we work section -->
<section class="section">
  <div class="container-fluid">
    <div class="counter">
      <div class="inner-num">02</div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10  col-lg-offset-1">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h1 class="title">How <br>
            we <br>
            work.</h1>
          <p class="margin-bottom-80 margin-top-130">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
            Lorem Ipsum has been the industry's standard dummy text ever since  the <br>
            1500s  Lorem Ipsum has been the industry's standard dummy text ever since <br>
            the  1500s <br>
            Lorem Ipsum has been the industry's standard dummy text ever since <br>
            the 1500s</p>
          <h3 class="iconin-title">Step 01</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
            Lorem Ipsum has been the industry's standard dummy text ever since  the <br>
            1500s  Lorem Ipsum has been the industry's standard dummy text ever since <br>
            the  1500s <br>
            Lorem Ipsum has been the industry's standard dummy text ever since <br>
            the 1500s</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 work-image center"> <img  class="" src="assets/images/how_we_work.jpg" alt="How we work">
          <div class="quote">
            <h1 class="quote-line">We think big, but <br>
              start small.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- How we work section -->
<section class="margin-bottom-80">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 padding-left-0">
        <div class="left-part"> <img class="img-responsive" src="assets/images/how_we_work_aara.jpg" alt="Our Brands"> </div>
      </div>
      <div class="col-lg-6 col-md-6 colsm-6">
        <div class="right-part margin-top-50">
          <h3 class="iconin-title">Step 01</h3>
          <p class="margin-bottom-80">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
            Lorem Ipsum has been the industry's standard dummy text ever since  the <br>
            1500s  Lorem Ipsum has been the industry's standard dummy text ever since <br>
            the  1500s <br>
            Lorem Ipsum has been the industry's standard dummy text ever since <br>
            the 1500s</p>
          <h3 class="iconin-title">Step 02</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
            Lorem Ipsum has been the industry's standard dummy text ever since  the <br>
            1500s  Lorem Ipsum has been the industry's standard dummy text ever since <br>
            the  1500s <br>
            Lorem Ipsum has been the industry's standard dummy text ever since <br>
            the 1500s</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Why choose us section -->
<section class="section">
  <div class="container-fluid">
    <div class="colored">
      <div class="counter">
        <div class="inner-num">03</div>
      </div>
      <div class="row margin-bottom-80">
        <div class="col-lg-10 col-sm-10 col-md-10 margin-both-center padding-0">
          <div class="col-lg-9 col-md-9 col-sm-9">
            <h1 class="title">Why <br>
              choose <br>
              us?</h1>
            <p>Let’s establish a little bit of trust between us. <br>
              <br>
              Our HQ is in Philadelphia. <br>
              <br>
              Our R&D Department – in Krakow. <br>
              <br>
              Our Sales Division? Just finished setting up in Atlanta. <br>
              <br>
              Each of those cities is meaningful to us. Krakow raised us professionally. As the IT capital of Poland, it’s the perfect place to 
              learn, grow, and launch an interactive agency in. Krakow’s rich, multicultural community lets us care for our values in the most
              precious way we can imagine: by interacting with others. <br>
              <br>
              Philadelphia, on the other hand, allows us to see how far we’ve come. <br>
              <br>
              That’s where the core of our business is now.</p>
          </div>
          <div class="position-re">
            <div class="core-value-title">Core <br>
              values</div>
          </div>
          <div class="col-lg-3 col-sm-3 col-md-3">
            <ul class="core-values list-unstyled">
              <li>RELATIONSHIP DRIVEN</li>
              <li>TRANSPARENT</li>
              <li>PURPOSEFUL</li>
              <li>LOYAL</li>
              <li>PROACTIVE</li>
              <li>RESPECTFUL</li>
              <li>LEAN & AGILE</li>
              <li>GRATEFUL</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- What we learn section -->
<section class="section padding-bottom-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10 margin-both-center col-lg-offset-1 text-center">
        <h1 class="title">What we learn?</h1>
        <p>Thanks for your interest in working with us. Please complete the details below <br>
          and we’ll get back to you within one business day.</p>
      </div>
    </div>
    <div class="row blog margin-top-50">
      <div class="col-lg-4 col-md-4 col-sm-4 border padding-tb-60 line-trb">
        <div class="first article">
          <div class="blog-img"><img class="img-responsive" src="assets/images/blog-thumb.jpg" alt="Blog" /></div>
          <h3 class="blog-title">Are popups still a good idea?</h3>
          <div class="date">01 september 2017 <span>Admin</span></div>
          <p class="blog-desc">Go on. Ask any internet user how they feel about popups. You
            may learn some new swear words. And yet, when the business
            case for UX is stronger than ever, many brands still default to
            popups...</p>
          <a class="read-more" title="Read More" href="#">read More</a> </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 border padding-tb-60 line-tb">
        <div class="second article">
          <div class="blog-img"><img class="img-responsive" src="assets/images/blog-thumb.jpg" alt="Blog" /></div>
          <h3 class="blog-title">Are popups still a good idea?</h3>
          <div class="date">01 september 2017 <span>Admin</span></div>
          <p class="blog-desc">Go on. Ask any internet user how they feel about popups. You
            may learn some new swear words. And yet, when the business
            case for UX is stronger than ever, many brands still default to
            popups...</p>
          <a class="read-more" title="Read More" href="#">read More</a> </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 border padding-tb-60 line-tlb">
        <div class="third article">
          <div class="blog-img"><img class="img-responsive" src="assets/images/blog-thumb.jpg" alt="Blog" /></div>
          <h3 class="blog-title">Are popups still a good idea?</h3>
          <div class="date">01 september 2017 <span>Admin</span></div>
          <p class="blog-desc">Go on. Ask any internet user how they feel about popups. You
            may learn some new swear words. And yet, when the business
            case for UX is stronger than ever, many brands still default to
            popups...</p>
          <a class="read-more" title="Read More" href="#">read More</a> </div>
      </div>
    </div>
  </div>
</section>
</div>

<app-footer></app-footer>




