<div class="section-wrapper">
<div mouseWheel class="home" [ngStyle]="{'height': windowHeight + 'px', 'width': windowWidth-50 + 'px'}" (mouseWheelUp)="onScrollUp(event)"  (mouseWheelDown)="onScrollDown(event)" >
	<div class="fullscreen-wrapper" [ngStyle]="{'height': workWrapperHeight + 'px', 'width': workWrapperWidth + 'px'}"> 
        <img class="fullscreen-image" [src]="portfolioCurrentFullScreenImage">
    </div>
    <div  id="work-wrapper" class="work-wrapper" [ngStyle]="{'height': workWrapperHeight + 'px', 'width': workWrapperWidth + 'px'}" (window:resize)="resizeEvent()" (mouseleave)="displayWrapperGrid()" (mouseover)="insideWrapper()">
        <div *ngFor="let portfolio of result.Portfolio ;let i = index;" >
            <a [href]="portfolio.portfolio_url">
                <div class="work-cell" [ngStyle]="{'height': workCellHeight + 'px', 'width': workCellWidth + 'px'}" (mouseenter)="displayFullsreen(portfolio, portfolio.portfolio_id)" (mouseleave)="displayGrid()">       
                    <div class="work-cell-title-wrapper">
                        <p class="work-cell-title work-cell-title-animate" id="title-{{portfolio.portfolio_id}}" [ngStyle]="{'opacity': workCellTitleOpacity }">{{portfolio.portfolio_title}}</p>
                        <p class="work-cell-tag-line work-cell-tag-line-animate" id="tag-line-{{portfolio.portfolio_id}}" [ngStyle]="{'opacity': workCellTagLineOpacity }">{{portfolio.portfolio_tag_Line}}</p>
                    </div>
                    <div class="work-cell-image-wrapper work-cell-animate" id="cell-{{portfolio.portfolio_id}}" [ngStyle]="{'height': workCellHeight + 'px', 'width': workCellWidth + 'px', 'background-image': 'url(' + portfolio.portfolio_background_url + ')'}" >
                    </div>
                    
                </div>
            </a>
            <div class="work-col-separator" *ngIf="(i+1)%3!=0" [ngStyle]="{'height': workCellHeight + 'px'}"></div>
            <div class="work-row-separator" *ngIf="(i+1)%3==0" [ngStyle]="{'width': workWrapperWidth + 'px'}"></div>
        </div>
    </div>
</div>


