<div class="boxed-container">

<div mouseWheel class="horizontal-scroll-wrapper squares" (mouseWheelUp)="onScrollUp(event)" (mouseWheelDown)="onScrollDown(event)" > 
    <div>
	<img src="assets/images/portfolio_thumb.jpg" />
	<h1>-Branding</h1>
	</div>
	
    <div>
	<img src="assets/images/portfolio_thumb.jpg" />
	<h1>-Branding</h1>
	</div>
	
	<div>
	<img src="assets/images/portfolio_thumb.jpg" />
	<h1>-Branding</h1>
	</div>
	
</div>

</div>

