<div class="section-wrapper">
    <section class="section">
        <div class="container_fluid">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="border-with-square">
                    <div class="container">
                        <div class="row text-center  margin-bottom-60">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h1 class="title in service-title">Our Services</h1>
                                <h3 class="sub-title margin-bottom-60">We develop, design and breathe digital </h3>
                                <p class="line-height-40">We specialise in the design and development of websites and website applications <br> that work – for your users and you. Along with effective websites, we also deliver <br> engaging email campaigns, API integrations, property
                                    portals and mobile applications.</p>
                            </div>
                        </div>
                        <div class="row margin-bottom-60">
                            <div class="col-lg-12 col-md-10 col-sm-10">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <h3 class="service-highlite">Branding</h3>
                                    <p class="highlite-text">Brand Strategy <br> Brand Identity <br> Logo Design</p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <h3 class="service-highlite">PROMOTIONS</h3>
                                    <p class="highlite-text">Packaging Design <br> Brochure Design <br> Advertising Design</p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <h3 class="service-highlite">Web Development</h3>
                                    <p class="highlite-text">Website Design & Development <br> Responsive Mobile Solutions <br> eCommerce Web Solutions</p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <h3 class="service-highlite">Mobile</h3>
                                    <p class="highlite-text">Native App Design <br> User Interface Design <br> User Experience Design</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section clear">
        <div class="container_fluid">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="border-with-square">
                    <div class="container" style="position:relative;">
                        <div class="circle-line"></div>
                        <div class="row text-center  margin-bottom-60">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h1 class="title in service-title">Our Process</h1>
                            </div>
                        </div>
                        <div class="row  margin-bottom-60">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center margin-bottom-80">
                                <img src="assets/images/service.png" class="process-flow-img">
                                <h3>Develope</h3>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 margin-bottom-80">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <h3 class="margin-left-pl-40">Design</h3>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                                    <p>Our creative team gets to work designing <br> something truly unique to meet your needs. <br> We design everything from scratch <br> including illustrations, web graphics, and icons.</p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 text-right">
                                    <h3 class="margin-right-pl-40">Testing</h3>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-6 col-md-6 col-sm-6 text-left">
                                    <h3 class="margin-left-mn-50">Discover</h3>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                                    <h3 class="margin-right-mn-50">Deploy</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section clear">
        <div class="border-with-square table-set">
            <div class="box-center-layer">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h2 class="project-text">
                                We have a lot to show you. See what we've <br> been working hard on.
                            </h2>
                            <button class="btn btn-default custom-btn" type="button">View Projects</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>