	<div class="section-wrapper">
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="margin-top-50">
								
				<div *ngIf="step1Show" [@animationIf] class="step-container step-1">
					<h1 class="start-title fade-in-slide">Start a Project</h1>
					<p class="fade-in-slide-1">Thanks for your interest in working with us. Please complete the details below <br>
					and we’ll get back to you within one business day.</p>
					<div class="row ">
						<div class="col-lg-8">
							
								<div class="md-input fade-in-slide-1">
									<input class="md-form-control" required="" type="text">
									<span class="highlight"></span> <span class="bar"></span>
									<label>Your name here</label>
								</div>
								
								<div class="md-input fade-in-slide-2 ">
									<input class="md-form-control" required="" type="text">
									<span class="highlight"></span> <span class="bar"></span>
									<label>Company name here</label>
								</div>
								
								<div class="col-lg-8 fade-in-slide-5 ">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 padding-left-0">
											<div class="md-input ">
												<input class="md-form-control" required="" type="text">
												<span class="highlight"></span> <span class="bar"></span>
												<label>Email address</label>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="md-input ">
												<input class="md-form-control" required="" type="text">
												<span class="highlight"></span> <span class="bar"></span>
												<label>Phone number</label>
											</div>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-lg-8 col-md-8 col-sm-8 margin-top-25 ">
										<button (click)="step_two()" class="btn btn-default custom-btn" type="button">Next</button>
									</div>
								</div>
							
						</div>
						
						
					</div>
				</div>
				<div *ngIf="step2Show" [@animationIf] class="step-container"  >
					<h1 class="start-title fade-in-slide">What can we help you with?</h1>
					<p class="fade-in-slide-1">Nice to meet you, sam. Select all that apply.</p>
					<div class="row">
						<div class="step-controls clearfix">
							<div class="type-selection col col-25 sml-col-50 step-up  fade-in-slide-1" data-delay="3">
								<input type="checkbox" name="planner_project_type_checkbox" id="step2-web" value="Web" checked="">
								<label for="step2-web" class="icon icon-web">Web</label>
							</div>
							<div class="type-selection col col-25 sml-col-50 step-up fade-in-slide-2" data-delay="4">
								<input type="checkbox" name="planner_project_type_checkbox" id="step2-mobile" value="Mobile">
								<label for="step2-mobile" class="icon icon-mobile">Mobile</label>
							</div>
							<div class="type-selection col col-25 sml-col-50 step-up fade-in-slide-3" data-delay="5">
								<input type="checkbox" name="planner_project_type_checkbox" id="step2-ecommerce" value="eCommerce">
								<label for="step2-ecommerce" class="icon icon-branding">eCommerce</label>
							</div>
							<div class="type-selection col col-25 sml-col-50 step-up fade-in-slide-4" data-delay="6">
								<input type="checkbox" name="planner_project_type_checkbox" id="step2-other" value="Other">
								<label for="step2-other" class="icon icon-promotion">Other</label>
							</div>
							<input type="hidden" name="planner_project_type" value="">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-8 margin-top-25">
							<button (click)="step_one()" class="btn btn-default custom-btn" type="button">Prev</button>
							<button (click)="step_three()" class="btn btn-default custom-btn" type="button">Next</button>
						</div>
					</div>
				</div>	
				<div *ngIf="step3Show" [@animationIf] class="step-container"  >
					<h1 class="start-title fade-in-slide">Tell us about the project</h1>
					<p class="fade-in-slide-1">You need everything? We can help with that.</p>
					<div class="row">
						<div class="col-lg-8">
						<div class="step-controls">
								<div class="form-field waypoint-trigger step-in-right fade-in-slide-1" data-delay="2" style="width: auto; overflow: hidden;">
									<label for="step3-description">Describe the project</label>
									<textarea name="planner_project_description" id="step3-description" class="validate" placeholder="Requirements, intentions, target audience, goals etc."></textarea>											
								</div>
								<div class="form-field waypoint-trigger step-in-right fade-in-slide-2" data-delay="3">
									<label for="pp-file">Attach any relevant documents <span>(optional)</span></label>
									<div id="files-wrap">
										<div id="planner-files-dropzone" class="dz-clickable">
											<div class="dropzone-foo">
												<div class="instructions is-desktop">Drag and drop files here. Maximum 10mb.</div>
												<div class="instructions is-touch hidden">Select files to attach.</div>
											</div>
											<div class="total-uploaded">No files uploaded</div>
										</div>
										<input type="hidden" value="" name="planner_files_list">
										<input type="hidden" name="MAX_FILE_SIZE" value="10485760">
									</div>
								</div>
							</div>			
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-8 margin-top-25">
							<button (click)="step_two()" class="btn btn-default custom-btn" type="button">Prev</button>
							<button (click)="step_four()" class="btn btn-default custom-btn" type="button">Next</button>
						</div>
					</div>
				</div>	
				<div *ngIf="step4Show" [@animationIf] class="step-container"  >
					<h1 class="start-title fade-in-slide">What's your budget?</h1>
					<p class="fade-in-slide-1">A transparent budget will help us ensure expectations are met.<br>
					Not sure? Ballparks are fine</p>
					
					<div class="row">
						<div class="col-lg-8">
						
						<div class="label">
						  <span id="slider-value1">$30k</span>
						  <span>-</span>
						  <span id="slider-value2">$30k</span>
						</div>
						<div class="slider-container">
						  <div class="label-min">$15k</div>
						  <div id="slider2" class="slider type1"></div>
						  <div class="label-max">$200k</div>
						</div>
						
										
						</div>
						<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-8 margin-top-25">
							<button (click)="step_three()" class="btn btn-default custom-btn" type="button">Prev</button>
							<button (click)="step_five()" class="btn btn-default custom-btn" type="button">Next</button>
						</div>
					</div>
					</div>
				</div>	
				<div *ngIf="step5Show" [@animationIf] class="step-container"  >
					<h1 class="start-title fade-in-slide">Lastly...</h1>
					<p class="fade-in-slide-1">Let's wrap this up.</p>
					<div class="row">
						<div class="col-lg-8">
						
								<div class="md-input fade-in-slide-3">
									<input class="md-form-control" required="" type="text">
									<span class="highlight"></span> <span class="bar"></span>
									<label>What's your ideal timeframe?</label>
								</div>
								
								<div class="md-input fade-in-slide-4">
									<input class="md-form-control" required="" type="text">
									<span class="highlight"></span> <span class="bar"></span>
									<label>What's your ideal timeframe?</label>
								</div>

						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 margin-top-25">
							<button (click)="step_four()" class="btn btn-default custom-btn" type="button">Prev</button>
							<button (click)="submit_form()" class="btn btn-default custom-btn" type="button">Submit</button>
						</div>
					</div>
				</div>	
				</div>

			</div>
		</div>
	</div>
</section>
</div>
<!-- Footer section -->
<app-footer></app-footer>


