<section>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="start-title">Wordpress Engineer</h1>
        <p>The profile demands passion for WordPress development and community spirit . <br>
This is an exciting opportunity for WordPress enthusiasts who believe that code is poetry.</p>
          
          
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1">
        <h3>Rate Your Own Skills*</h3>
        <div class="blk-skill">
        <p class="name-skill">Theme Development</p>
        <div class="range"> <b>Never Used</b> <div data-role="page">
  <div data-role="header">
    <h1>Range Slider</h1>
  </div>

  <div data-role="main" class="ui-content">
    <form method="post" action="/action_page_post.php">
      <div data-role="rangeslider">
        <label for="price-min">Price:</label>
        <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
        <label for="price-max">Price:</label>
        <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
      </div>
        <input type="submit" data-inline="true" value="Submit">
        <p>The range slider can be useful for allowing users to select a specific price range when browsing products.</p>
      </form>
  </div>
</div> <b>Expert</b></div>
        </div>
          
      </div>
    </div>
  </div>
</section>

<!-- Footer section -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="footer">
        <div class="col-lg-10 col-md-10 col-sm-10  col-lg-offset-1 d-table margin-both-center">
          <div class="block-center">
            <div class="f-normal-text">so what's next?</div>
            <div class="f-large-text">Don't be shy! <span class="changer-word">Say hi!</span> </div>
            <div class="copy-right">
              <div class="col-lg-6 col-md-6 col-sm-6 padding-left-0">
                <p>&copy; 2017 Pristinit Solutions. Ahmedabad, Gujrat (India)</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <ul class="list-inline footer-link">
                  <li><a href="#" target="_blank" title="Facebook">Facebook</a></li>
                  <li><a href="#" target="_blank" title="Facebook">Facebook</a></li>
                  <li><a href="#" target="_blank" title="Facebook">Facebook</a></li>
                  <li><a href="#" target="_blank" title="Facebook">Facebook</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
var slider = new Slider('#ex2', {});
</script>