.boxed-container {
	height: 100%;
	padding: 75px 50px 50px 50px;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
::-webkit-scrollbar { 
    display: none; 
	 background: transparent;	 
}
/*===============Home-page css here==================*/
.section-wrapper{
	 position:relative;
	 z-index: 11;
	 margin-bottom:600px;
	 background-color:#fff;
}
.section-wrapper-subscriber{
	 position:relative;
	 z-index: 11;
	 margin-bottom:400px;
	 background-color:#fff;
}
.section {
	padding-top: 80px;
	padding-bottom: 80px;
}
.margin-top-25 {
	margin-top: 25px;
}
.margin-top-130 {
	margin-top: 130px;
}
.margin-top-90 {
	margin-top: 90px;
}
.margin-bottom-80 {
	margin-bottom: 80px;
}
.margin-bottom-50 {
	margin-bottom: 50px;
}
.margin-bottom-60 {
	margin-bottom: 60px;
}
.margin-top-50 {
	margin-top: 50px;
}
.padding-0 {
	padding: 0;
}
.padding-tb-60 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.paddind-left-30{padding-left: 30px;}
.padding-left-0 {
	padding-left: 0;
}
.padding-bottom-0 {
	padding-bottom: 0;
}
.padding-left-95 {
	padding-left: 95px;
}
.counter {
	position: relative;
}
.inner-num {
	font-size: 350px;
	font-weight: 900;
	font-style: italic;
	color: #e9eaea;
	position: absolute;
	top: 170px;
	left: 340px;
}
.title {
	font-size: 72px;
	font-weight: 900;
	margin-bottom: 30px;
	margin-top: 15px;
	color: #2e3c40;
	line-height: 85px;
}
.color-violet {
	color: #33a3a9;
	margin-bottom: 15px;
	font-size: 60px;
}
.medium-text {
	font-weight: 400;
	line-height: 35px;
	font-size: 27px;
}
.work-image.center {
	text-align: center;
}
.colored {
	background: #f8f8f8;
	padding-top: 80px;
	padding-bottom: 80px;
	margin: 0 50px;
}
.iconin-title {
	color: #33a3a9;
	font-weight: 700;
	font-size: 25px;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 16px;
}
.iconin img {
	width: 100px;
}
.margin-both-center {
	margin: 0 121px;
}
.quote {
	background-image: url('assets/images/quote.png');
	background-repeat: no-repeat;
	display: table;
	height: 500px;
	margin: 0 auto;
	background-position: center;
}
.quote-line {
	font-size: 48px;
	line-height: 70px;
	font-family: Paprika;
	display: table-cell;
	vertical-align: middle;
}
.right-part {
	width: 100%;
}
.core-values {
	text-align: right;
	margin-top: 25px;
}
.core-values li {
	margin-bottom: 10px;
}
.position-re {
	position: relative;
}
.core-value-title {
	font-size: 80px;
	font-style: italic;
	font-weight: 700;
	position: absolute;
	right: 225px;
	color: #e9eaea;
	line-height: 85px;
	top: 20px;
}
.blog-img {
	margin-bottom: 35px;
}
.blog-title {
	font-size: 30px;
	color: #42485c;
	font-weight: 900;
	margin-bottom: 5px;
}
.date {
	font-size: 14px;
	color: #000;
}
.date span {
	color: #9c9b9b;
}
.blog-desc {
	color: #8e908f;
	line-height: 24px;
	margin-top: 18px;
	margin-bottom: 18px;
}
.read-more {
	color: #42485c;
	line-height: 30px;
	text-transform: capitalize;
}
.article {
	width: 100%;
	margin: 0 auto;
}
.border {
	border-style: solid;
	border-width: 1px;
	border-color: #a1a1a1;
}
.line-trb {
	border-right-width: 0;
	border-left-width: 0;
}
.line-tb {
}
.border.line-tlb {
	border-left-width: 0;
	border-right-width: 0;
}
/*=================About-Us page Css===========*/
.title.in {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 60px;
	font-weight: 700;
}
.clr-about {
	color: #e0616c;
}
.line-height-40 {
	line-height: 40px;
}
a.left.carousel-control{
	width:50%;
	cursor: url(assets/images/cursor_left.png), auto;
}
a.right.carousel-control{
	width:50%;
	cursor: url(assets/images/cursor_right.png), auto;
}

.small-text {
	font-size: 14px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 26px;
}
.title-normal {
	margin-bottom: 30px;
	font-size: 29px;
	font-family: roboto Condensed;
	font-weight: 700;
	color: #2e3c40;
}
.text-paprika {
	font-size: 24px;
	font-family: paprika;
	color: #e0616c;
	line-height: 40px;
}
.linkset li a {
	font-family: paprika;
	font-size: 16px;
	color: #e0616c;
}
.our-standards {
	font-size: 35px;
	font-family: paprika;
	line-height: 70px;
}
.standard-link li {
	margin-bottom: 15px;
}
.testimonial p {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 19px;
}
.saperate-line {
	height: 4px;
	background: #c7c7c7;
	width: 220px;
	margin: 40px auto;
}
.testimonial .item p {
	font-size: 32px;
	line-height: 60px;
}
.t-name {
	font-size: 15px;
	font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	line-height: 15px;
}
.testimonial .item small {
	font-size: 14px;
	color: #a2a2a2;
}
.bg-color-dark {
	background-color: #242833;
}
.clr-fff {
	color: #fff;
}
.social-large-link {
	margin-top: 45px;
}
.social-large-link li {
	margin-right: 15px;
	margin-left: 15px;
}
.social-large-link li a {
	color: #fff;
}
/*===============Career-page css here==================*/
.bg-career{
	background: url(assets/images/team.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.career {
	font-size: 60px;
	font-weight: normal;
	line-height: 30px;
	margin-bottom: 35px;
	margin-top: 130px;
	color: #fff !important;
}

.bolder {
	font-weight: 700;
    text-decoration: underline;
    position: absolute;
    margin-left: 22px;
	color:#23dbff;
}
.drop-line {
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 10px;
	color: #888d8e;
}
.italic-in {
	font-size: 24px;
	font-style: italic;
	font-weight: 300;
	margin-bottom: 30px;
	line-height: 45px;
	color: #888d8e;
}
.c-email {
	font-size: 30px;
	line-height: 48px;
	color: #33bedc;
	font-weight: 300;
	margin-bottom: 15px;
}
.c-email a{
	color: #33bedc !important;
}
.c-email a:hover{
	color: #33bedc !important;
}
.our-title {
	font-size: 29px;
	font-weight: 500;
	margin-top: 9px;
}
.title-medium {
	font-size: 45px;
	margin-bottom: 30px;
	font-family: roboto Condensed;
	font-weight: 700;
}
.panel-default > .panel-heading {
	background-color: transparent;
}
.panel-title {
	font-size: 42px;
	font-weight: 300;
	margin-bottom: 14px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: transparent;
	background-color: #f3f4f5;
}
.panel-group .panel {
	margin-bottom: 35px;
	border-radius: 0;
}
.panel-heading {
	padding: 25px 35px 25px 35px;
	position: relative;
}
.panel-body {
	padding: 70px 35px 70px 100px;
}
.panel {
	border-width: 2px;
}
.panel-default {
	border-color: #2e3c40;
}
.accordion-toggle[aria-expanded="false"] .plus-ico {
	transition:all 0.2s ease-out;
}
.accordion-toggle[aria-expanded="true"] .plus-ico{
	-webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
 
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	
	transition:all 0.2s ease-out;	
}

.righter {
	position: absolute;
	top: 35%;
	right: 80px;
}
.intro {
	line-height: 26px;
	font-size: 16px;
	margin-bottom: 5px;
}
.stg {
	font-weight: 700;
	margin-bottom: 10px;
}
.panel-body p {
	padding-left: 25px;
	font-weight: 300;
	line-height: 36px;
}

/*==================Services css===================*/

.sub-title{font-size: 36px;
font-weight: 300;
letter-spacing: 6px;
font-family: roboto Condensed;
margin-top: 0;}
.service-title{text-transform: uppercase;
margin-top: 30px;
margin-bottom: 0;}
.service-highlite{font-size: 18px;
text-transform: uppercase;
margin-bottom: 15px;
margin-top: 0;}
.highlite-text{font-family: 'Roboto Condensed', sans-serif;
font-weight: 300;
font-size: 18px;
line-height: 30px;}

.project-text{font-size: 30px;
text-transform: uppercase;
line-height: 45px;
margin-bottom: 30px;}

.circle-line { 
border: 4px dashed #f3f4f5;
border-bottom: 0;
text-align: center;
height: 526px;
border-top-left-radius: 670px;
border-top-right-radius: 670px;
position: absolute;
width: 96%;
top: 30%;
left: 0;
right: 0;
margin: 0 auto;}

.margin-left-pl-40{ margin-left:40px;}
.margin-right-pl-40{ margin-right:40px;}

.margin-left-mn-50{ margin-left:-50px;}
.margin-right-mn-50{ margin-right:-50px;}
.border-with-square{border: 3px solid #f3f4f5;
margin-left: 30px;
margin-right: 30px;}
.table-set{display: table;
height: 100%;
margin: 0 auto;
width:100%;}
.box-center-layer{vertical-align: middle;
display: table-cell;}
.clear{clear:both;}
/*==================Start a Project css===================*/

.start-title{font-size: 60px;
margin-bottom: 20px;
font-family: roboto Condensed;
color: #42485c !important;
}
.md-input {
position: relative;
margin-bottom: 30px;

}
.md-input .md-form-control {
font-size: 16px;
padding: 10px 10px 10px 5px;
display: block;
border: none;
border-bottom: 2px solid #CACACA;
box-shadow: none;
width: 100%;

}

.md-input label {
color: rgba(0, 0, 0, 0.5);
font-size: 16px;
font-weight: normal;
position: absolute;
pointer-events: none;
left: 5px;
top: 10px;
transition: 0.2s ease all;
-moz-transition: 0.2s ease all;
-webkit-transition: 0.2s ease all;
}

.md-input .bar:before {
left: 10%;
}

.md-input .bar:after {
right: 90%;
}

.md-input .highlight {
position: absolute;
height: 60%;
width: 100px;
top: 25%;
left: 0;
pointer-events: none;
opacity: 0.5;
}
.md-input .md-form-control:focus
{
	outline:none;
}
.md-input .md-form-control:focus ~ label, .md-input .md-form-control:valid ~ label {
top: -15px;
font-size: 14px;
color: #183D5D;

}
.md-input .bar:before, .md-input .bar:after {
content: '';
height: 2.5px;
width: 0;
bottom: 0px;
position: absolute;
background: #03A9F4;
transition: 0.2s ease all;
-moz-transition: 0.2s ease all;
-webkit-transition: 0.2s ease all;
}

.md-input .md-form-control:focus ~ .bar:before {
width: 90%;
}
.md-input .md-form-control:focus ~ .bar:after{
	width: 10%;
}

/*---Step Two ----- */
::selection {
    background: rgba(255,255,255,.3);
}
.type-selection {
    position: relative;
	transition: opacity .5s linear,transform .5s ease;
	width:20%;
	display: inline-block;
    clear: both;
	
}
.type-selection input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
}
.type-selection label {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 280px;
    padding: 177px 0 0;
    border-radius: 2px;
    -webkit-transition: background .15s linear,color .15s linear;
    transition: background .15s linear,color .15s linear;
    text-align: center;
    position: relative;
}


.type-selection label:before {
	content: "";
    position: absolute;
    top: 43px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #33bddb;
    -webkit-transition: color .15s linear;
    transition: color .15s linear;
}
.type-selection label:after {
	font-family: 'FontAwesome';
    content: "\f058 ";
    line-height: 1;
    position: absolute;
    bottom: 36px;
    left: 0;
    width: 100%;
    opacity: 0;
    color: #fff;
    text-align: center;
    font-size: 30px;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.type-selection .icon-branding:before{
	background:url('assets/images/step-two-branding.png') no-repeat 50% 20%;
	height: 40%;
    width: 100%;
	
}
.type-selection input:checked+.icon-branding:before{
	background:url('assets/images/step-two-branding-select.png') no-repeat 50% 20%;
}
.type-selection .icon-web:before{
	background:url('assets/images/step-two-web.png') no-repeat 50% 20%;
	height: 40%;
    width: 100%;
}
.type-selection input:checked+.icon-web:before{
	background:url('assets/images/step-two-web-select.png') no-repeat 50% 20%;
}


.type-selection .icon-mobile:before{
	background:url('assets/images/step-two-mobile.png') no-repeat 50% 20%;
	height: 40%;
    width: 100%;
}
.type-selection input:checked+.icon-mobile:before{
	background:url('assets/images/step-two-mobile-select.png') no-repeat 50% 20%;
}
.type-selection .icon-promotion:before{
	background:url('assets/images/step-two-promotion.png') no-repeat 50% 20%;
	height: 40%;
    width: 100%;
}
.type-selection input:checked+.icon-promotion:before{
	background:url('assets/images/step-two-promotion-select.png') no-repeat 50% 20%;
}

.type-selection input:checked+label:after {
    opacity: 1!important;
}
.type-selection input:checked+label {
    background-color: #33bddb!important;
    color: #fff!important;
}
/*---Step Two ----- */

.form-field textarea{
    margin:20px 0 0;
    width:100%;
    height:180px;
    border:2px solid #c7c7c7;
    border-radius:3px!important;
    color:#33bddb;
    resize:none;
    padding:13px 20px;
    -webkit-transition:border .15s linear,color .15s linear;
    transition:border .15s linear,color .15s linear;
    font-size:26px;
    
}
.form-field textarea.error{
    border-color:#d53636
}
.form-field textarea::-webkit-input-placeholder{
    color:#bbb;
    -webkit-transition:color .15s linear;
    transition:color .15s linear
}
.form-field textarea:-moz-placeholder{
    color:#bbb;
    transition:color .15s linear
}
.form-field textarea::-moz-placeholder{
    color:#bbb;
    transition:color .15s linear
}
.form-field textarea:-ms-input-placeholder{
    color:#bbb;
    transition:color .15s linear
}
.form-field textarea:focus{
    border-color:#33bddb
}
.form-field textarea:focus::-webkit-input-placeholder{
    color:#ccc
}
.form-field textarea:focus:-moz-placeholder{
    color:#ccc
}
.form-field textarea:focus::-moz-placeholder{
    color:#ccc
}
.form-field textarea:focus:-ms-input-placeholder{
    color:#ccc
}

#planner-files-dropzone{
    margin:20px 0 0;
    position:relative
}

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}

.animationIf.ng-enter,
.animationIf.ng-leave {
  -webkit-transition: opacity ease-in-out 1s;
  -moz-transition: opacity ease-in-out 1s;
  -ms-transition: opacity ease-in-out 1s;
  -o-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
}
.animationIf.ng-enter,
.animationIf.ng-leave.ng-leave-active {
  opacity: 0;
}
.animationIf.ng-leave,
.animationIf.ng-enter.ng-enter-active {
  opacity: 1;
}

.dropzone-foo{
    margin:0 270px 0 0;
    padding:0 0 0 70px;
    height:70px;
    min-height:0;
    line-height:67px;
    border:2px solid #c7c7c7;
    border-radius:3px;
    -webkit-transition:border .15s linear,color .15s linear;
    transition:border .15s linear,color .15s linear;
    background-color:#ededed;
    color:#818181;
    font-size:20px;
   }
.dropzone-foo:after{
    display:block;
    position:absolute;
    top:23px;
    left:27px;
    content:"\f0c6 ";
    font-family: 'FontAwesome';
    line-height:1;
    color:#33bddb;
    font-size:22px;
    
}
.dropzone-foo .instructions{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.dz-drag-hover .dropzone-foo{
    border-color:#33bddb;
    background:#f7f7f7
}
.total-uploaded{
    position:absolute;
    top:0;
    right:0;
    width:250px;
    height:70px;
    padding:0 25px;
    line-height:67px;
    border:2px solid #33bddb;
    border-radius:3px;
    -webkit-transition:border .15s linear,color .15s linear,background .15s linear;
    transition:border .15s linear,color .15s linear,background .15s linear;
    color:#797979;
    cursor:pointer
}
.total-uploaded:after,.total-uploaded:before{
    display:block;
    content:' ';
    position:absolute
}
.dz-preview,.dz-preview .dz-details img{
    display:none
}
.total-uploaded:before{
    top:27px;
    right:35px;
    width:2px;
    height:19px;
    margin:0;
    background:#33bddb;
    -webkit-transition:margin .15s linear,height .15s linear,background .15s linear;
    transition:margin .15s linear,height .15s linear,background .15s linear
}
.total-uploaded:after{
    right:37px;
    top:22px;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
    border-color:rgba(208,208,208,0);
    border-bottom-color:#33bddb;
    border-width:6px;
    margin:-6px -7px 0 0;
    -webkit-transition:margin .15s linear,border-color .15s linear;
    transition:margin .15s linear,border-color .15s linear
}
.total-uploaded.is-open:before{
    top:20px
}
.total-uploaded.is-open:after{
    top:44px;
    -webkit-transform:rotate(-180deg);
    transform:rotate(-180deg)
}
.total-uploaded.on_press,html:not(.mobile):not(.tablet) .total-uploaded:hover{
    background:#f8f8f8;
    border-color:#3beb9e
}
.total-uploaded.on_press:before,html:not(.mobile):not(.tablet) .total-uploaded:hover:before{
    margin:-2px 0 0;
    height:23px;
    background-color:#3beb9e
}
.total-uploaded.on_press:after,html:not(.mobile):not(.tablet) .total-uploaded:hover:after{
    margin-top:-8px;
    border-bottom-color:#3beb9e
}
.total-uploaded.on_press.is-open:after,html:not(.mobile):not(.tablet) .total-uploaded:hover.is-open:after{
    margin-top:-3px
}
.dz-preview{
    position:absolute;
    bottom:90px;
    height:50px;
    width:50%;
    right:0;
    border:2px solid #a4a4a4;
    background:#fff;
    border-radius:0 0 3px 3px;
    overflow:hidden;
    z-index:50;
    font-size:14px;
    
}
.dz-preview .dz-filename{
    width:100%;
    padding:0 40px 0 0;
    line-height:46px
}
.dz-preview .dz-filename span{
    display:block;
    padding:0 0 0 15px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.dz-preview .dz-remove{
    position:absolute;
    right:11px;
    top:13px;
    display:block;
    width:20px;
    height:20px;
    overflow:hidden;
    text-indent:-99999em;
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    cursor:pointer
}
.dz-preview .dz-remove:after,.dz-preview .dz-remove:before{
    display:block;
    content:" ";
    position:absolute;
    border-radius:3px;
    background:#d53636;
    -webkit-transition:background .15s linear;
    transition:background .15s linear
}
.dz-progress,.dz-size,.dz-success-mark,.individual-slide .sliders-wrap .range-labels{
    display:none
}
.dz-preview .dz-remove:before{
    top:2px;
    left:9px;
    width:2px;
    height:16px
}
.dz-preview .dz-remove:after{
    top:9px;
    left:2px;
    width:16px;
    height:2px
}
.dz-preview .dz-remove.on_press:after,.dz-preview .dz-remove.on_press:before,html:not(.mobile):not(.tablet) .dz-preview .dz-remove:hover:after,html:not(.mobile):not(.tablet) .dz-preview .dz-remove:hover:before{
    background:#3beb9e
}


.slider.type1{

	border-radius: 25px;
	width: 800px;
	position: absolute;
	height: 25px;
	background: #eee;
	left: 60px;
     
    

 }
.slider-container{
  width:930px;
}
.type1 .ui-slider-handle{
	position: absolute;
	z-index: 2;
	width: 0px;
	height: 0px;
  top:-4px;
  outline:none;
	cursor: -webkit-grab;
	font-weight: bold;
  
}



.type1 .first-handle:before{
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 14px;
    top:10px;
    left:5px;
    outline:none;
    background: #E8E7E6;
    border-radius:15px; 
   -webkit-transition: all .15s linear;
    transition: all .25s linear;
  transition-delay: 2s;
}
.type1 .second-handle:after{
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 14px;
    top:10px;
    left:-18px;
    outline:none;
    background: #E8E7E6;
    border-radius:15px;
   -webkit-transition: all .15s linear;
    transition: all .25s linear;
  transition-delay: 2s;
}
.label{
  postion:relative;
  margin:0 auto;
  text-align:center;
  width:930px;
  font-size:20px;
  color:#000;
  margin-bottom:10px
}
.label-min{
  float: left;
    position: relative;
    width: 50px;
    padding: 4px 0px;
}
.label-max{
  float: right;
    position: relative;
    width: 50px;
    padding: 4px 0px;
}

.type1 .ui-slider-range{
		background: #78d55b;
		position: absolute;
		border: 0;
		top: 10%;
		height: 80%;
  left:-40px;
		border-radius: 25px;
   -webkit-transition: all .1s linear;
    transition: all .1s linear;
  
}





/*==================Blog-page single css===================*/
.blog-inner-title{font-size: 36px;
font-weight: 700;
line-height: 45px;
margin-bottom: 18px;}
.thumb-img{ margin-bottom:25px;}
.author{ margin-bottom:15px;}
.author-img{margin-right: 15px;}
.blog-share li{margin-bottom: 20px;}
.blog-share li a{color:#c3c3c3;}
.in-title{font-weight: 600;
font-size: 25px;}
/*===============Contact-us-page css here==================*/
h1.contact-title {
	font-size: 48px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #2e3c40 !important;
	font-weight: 300;
}
.custom-btn {
	background: #33bddb;
	color: #fff;
	border-color: #33bddb;
	border-radius: 3px;
	font-size: 19px;
	width: 250px;
	line-height: 40px;
}
.phone, .email {
	font-size: 22px;
	margin-bottom: 15px;
}
.email a {
	color: #33bddb;
}
.bg-color-pink {
	background-color: #f14756;
}
.block-center.height-380 {
	height: 380px;
}
.custom-margin {
	margin-top: -85px;
}
.form-news {
	width: 400px;
	margin: 0 auto;
}
.form-news label {
	color: #fff;
	font-weight: 400;
	margin-bottom: 0px;
}
.form-news input {
	background-color: transparent;
	border-bottom: 2px solid #fff;
	border-left: 0;
	border-radius: 0;
	border-right: 0;
	font-size: 24px;
	border-top: 0;
	height: 50px;
	padding-left: 0px;
	color: #fff;
	box-shadow: none !important;
	background-image: url('assets/images/envelope.png');
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 45px;
}
 .form-news input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #f58e95;
}
.form-news input::-moz-placeholder { /* Firefox 19+ */
 color: #f58e95;
}
.form-news input:-ms-input-placeholder { /* IE 10+ */
 color: #f58e95;
}
.form-news input:-moz-placeholder { /* Firefox 18- */
 color: #f58e95;
}
/*==================Footer===================*/
footer {
    position: fixed;
    height: 630px;
	background-color: #ffbc16;
	width:100%;
    bottom: 0px; left: 0px;
    z-index: 1;
	-webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

	  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;

	  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
footer:hover {
	    box-shadow: inset 0px 0px 0px 30px #FFF;
}

footer.subscriber{
	height: 430px;
}
.f-large-text {
	font-size: 55px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	line-height: 36px;
	text-transform: uppercase;
}
.f-large-text .changer-word {
	font-size: 35px;
	text-transform: lowercase;
	font-weight: 400;
	text-decoration: underline;
	font-family: Paprika;
}
.d-table {
	display: table;
}
.block-center {
	height: 630px;
	vertical-align: middle;
	display: table-cell;
	width: 100%;
}
.f-normal-text {
	width: 512px;
	margin: 0 auto;
	margin-bottom: 0px;
	color: #fff;
	line-height: 45px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 16px;
}
.copy-right {
	position: absolute;
	bottom: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	color: #fff;
	font-style: italic;
	font-size: 15px;
}
.footer-link {
	float: right;
}
.footer-link a {
	color: #fff;
}
